.noshadow {
   -moz-box-shadow: none !important;
   -webkit-box-shadow: none !important;
   box-shadow: none !important;
}

.ui-block-a.main { width: 10% }
.ui-block-b.side { width: 90%; } 

.ui-listview.noborder>.ui-li-static, .ui-listview.noborder>.ui-li-divider, .ui-listview.noborder>li>a.ui-btn {
	border-style: none !important;
}

.ui-listview.noborder>.ui-li-static {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.ui-btn-icon-left.nobackground:after {
	background-color: transparent !important;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 40px;
}
.left-inner-addon i {
    position: absolute;
    padding: 16px 12px;
    pointer-events: none;
    background-color: transparent !important;
}

.login-button {
	margin-top: 20px;
}

.signup-div {
	margin-top: 30px;
	text-align: center;
}

.logo-div {
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center;
}

.label-edit {
	padding-top:13px;
}

.img-auto {
    width  : 100%;
    height : 100%;
}