<div id="main" data-role="content">
</div><!-- /content -->

<div data-role="footer" data-position="fixed" data-id="footer" data-theme="b">
	<div data-role="navbar">
		<ul>
			<li><a class="nav-link" id="user" data-icon="user" data-router="user">Profile</a></li>
			<li><a class="nav-link" id="vehicles" data-icon="bars" data-router="vehicles">Vehicles</a></li>
			<li><a class="nav-link" id="alert" data-icon="alert" data-router="alert">Alert</a></li>
			<li><a class="nav-link" id="occurrences" data-icon="eye" data-router="occurrences">Occurrences</a></li>
			<li><a class="nav-link" id="settings" data-icon="gear" data-router="settings">Settings</a></li>
		</ul>
	</div>
</div><!-- /footer -->
