<div data-role="navbar">
	<ul>
		<li><a class="nav-link" id="profile" data-icon="user" data-router="profile">Profile</a></li>
		<li><a class="nav-link" id="vehicles" data-icon="bars" data-router="vehicles">Vehicles</a></li>
		<li><a class="nav-link" id="alert" data-icon="alert" data-router="alert">Alert</a></li>
		<li><a class="nav-link" id="occurrences" data-icon="eye" data-router="occurrences">Occurrences</a></li>
		<li><a class="nav-link" id="settings" data-icon="gear" data-router="settings">Settings</a></li>
	</ul>
</div>