<div data-role="header" style="overflow:hidden;" data-position="fixed">
	<h1>Create Occurrence</h1>
	<a class="nav-link ui-btn-right" id="alert" data-router="user_edit">Alert!</a>
</div>

<div>
	<ul data-role="listview" style="padding:none !important;">
		<li data-role="list-divider" role="heading" class="ui-li-divider ui-bar-inherit">PLACE OF THEFT</li>
			<li>
				<div role="main" class="ui-content" id="map-canvas" style="height: 130px;">
			  	<!-- map loads here... -->
				</div>
			</li>
		<li data-role="list-divider" role="heading" class="ui-li-divider ui-bar-inherit">STOLED CAR</li>
		<li data-icon="false" data-theme="b" class="select-vehicle">
			<a href="#">
				<img src="img/album-bb.jpg">
				<h2>FER-0066</h2>
				<p>Ferrari</p>
			</a>
		</li>
		<li class="select-vehicle bla">
			<a href="#">
				<img src="img/album-hc.jpg">
				<h2>HLR-2345</h2>
				<p>Mercedes</p>
			</a>
		</li>
		<li data-role="list-divider" role="heading" class="ui-li-divider ui-bar-inherit" style="margin-top:10px">OBSERVATIONS</li>
		<li>
				<textarea id='notes' type="text" rows="10" data-mini='true'>A ferrari possui um adesivo de bandeira pirata atras, logo ao lado do farol esquerdo.
				</textarea>
		</li>
	</ul>
	
</div>