<div data-role="header" style="overflow:hidden;" data-position="fixed">
	<h1>Settings</h1>
</div>

<div>
	<ul data-role="listview">
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a" style="padding:1em">
					<b>Tips</b>
				</div>
				<div class="ui-block-b">
					<input type="checkbox" data-role="flipswitch" checked="true" data-mini="true" >
				</div>
			</div>
		</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a" style="padding:1em">
					<b>Stole vehicles alerts</b>
				</div>
				<div class="ui-block-b">
					<input type="checkbox" data-role="flipswitch" checked="true" data-mini="true" >
				</div>
			</div>
		</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a" style="padding:1em">
					<b>E-mail notifications</b>
				</div>
				<div class="ui-block-b">
					<input type="checkbox" data-role="flipswitch" checked="" data-mini="true" >
				</div>
			</div>
		</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a" style="padding:1em">
					<b>Alert's radius (km)</b>
				</div>
				<div class="ui-block-b" data-mini="true">
					<input type="range" min="1" max="50" value="13" data-highlight="true"/>
				</div>
			</div>
		</li>
		<li>
			<div>
				<a href="#" class="nobackground">Terms of Service</a>
			</div>
		</li>
	</ul>
</div>
