<div data-role="header" style="overflow:hidden;" data-position="fixed">
	<h1>Vehicle</h1>
	<a class="nav-link ui-btn-right" id="edit" data-router="vehicle_edit">Edit</a>
</div>

<div>
	<ul data-role="listview">
		<li data-role="list-divider" role="heading" class="ui-li-divider ui-bar-inherit">PICTURES</li>
		<li>
			<div class="ui-grid-c">
				<div class="ui-block-a"><img src="img/album-bb.jpg" class="img-auto"></div>
				<div class="ui-block-b"><img src="img/album-hc.jpg" class="img-auto"></div>
				<div class="ui-block-c"><img src="img/album-hc.jpg" class="img-auto"></div>
				<div class="ui-block-d"><img src="img/album-hc.jpg" class="img-auto"></div>
			</div>
			
		</li>
		<li data-role="list-divider" role="heading" class="ui-li-divider ui-bar-inherit">INFORMATION</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a"><b>Plate</b></div><div class="ui-block-b"><%= vehicle.get("license_plate") %></div>
			</div>
		</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a"><b>Manufacturer</b></div><div class="ui-block-b">Ferrari</div>
			</div>
		</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a"><b>Model</b></div><div class="ui-block-b">Ferrari F1</div>
			</div>
		</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a"><b>Color</b></div><div class="ui-block-b">Vermelho</div>
			</div>
		</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a"><b>Year</b></div><div class="ui-block-b">2012</div>
			</div>
		</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a"><b>Chassi</b></div><div class="ui-block-b">03459349819329</div>
			</div>
		</li>
		<li data-role="list-divider" role="heading" class="ui-li-divider ui-bar-inherit">OBSERVATIONS</li>
		<li>
			<div style="white-space:normal !important;">
				A ferrari possui um adesivo de bandeira pirata atras, logo ao lado do farol esquerdo.
			</div>
		</li>
	</ul>
</div>
