<div data-role="header" style="overflow:hidden;" data-position="fixed">
	<h1>Vehicle</h1>
	<a class="nav-link ui-btn-right" id="save" data-router="vehicle">Save</a>
</div>

<div>
	<ul data-role="listview" style="padding:none !important;">
		<li data-role="list-divider" role="heading" class="ui-li-divider ui-bar-inherit">PICTURES</li>
		<li>
			<div class="ui-grid-c">
				<div class="ui-block-a"><img src="img/album-bb.jpg" class="img-auto"></div>
				<div class="ui-block-b"><img src="img/album-hc.jpg" class="img-auto"></div>
				<div class="ui-block-c"><img src="img/album-hc.jpg" class="img-auto"></div>
				<div class="ui-block-d"><img src="img/album-hc.jpg" class="img-auto"></div>
			</div>
			
		</li>
		<li data-role="list-divider" role="heading" class="ui-li-divider ui-bar-inherit">INFORMATION</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a" style="padding:1em"><b>Plate</b></div>
				<div class="ui-block-b"> 
					<input  id='license_plate' type="text" value="FER-0066" data-mini=true/>
				</div>
			</div>
		</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a" style="padding:1em"><b>Manufacturer</b></div>
				<div class="ui-block-b"> 
					<input  id='brand' type="text" value="Ferrari" data-mini=true/>
				</div>
			</div>
		</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a" style="padding:1em"><b>Model</b></div>
				<div class="ui-block-b"> 
					<input id='model' type="text" value="Ferrari F1" data-mini=true/>
				</div>
			</div>
		</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a" style="padding:1em"><b>Color</b></div>
				<div class="ui-block-b"> 
					<input id='color' type="text" value="Vermelho" data-mini=true/>
				</div>
			</div>
		</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a" style="padding:1em"><b>Year</b></div>
				<div class="ui-block-b"> 
					<input id='year' type="number" value="2012" data-mini=true/>
				</div>
			</div>
		</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a" style="padding:1em"><b>Chassi</b></div>
				<div class="ui-block-b"> 
					<input id='identifier' type="text" value="93478ZZZ3E89UIA" data-mini=true/>
				</div>
			</div>
		</li>
		<li data-role="list-divider" role="heading" class="ui-li-divider ui-bar-inherit">OBSERVATIONS</li>
		<li>
			<div style="white-space:normal !important;">
				<textarea id='notes' type="text" rows="10" data-mini="true">A ferrari possui um adesivo de bandeira pirata atras, logo ao lado do farol esquerdo.
				</textarea>
			</div>
		</li>
	</ul>
</div>