<div data-role="header" style="overflow:hidden;" data-position="fixed">
	<h1>Vehicles</h1>
	<a class="add-link nav-link ui-btn-right" data-router="vehicle_add">Add</a>
</div>


<ul id="listVehicle" data-role="listview" class="ui-nodisc-icon ui-alt-icon" data-split-icon="edit" data-split-theme="a" data-inset="true">
	<% collection.each(function(vehicle) { %>
		<li>
			<a data-id="<%= vehicle.get('id') %>" data-router="vehicle" class="vehicle-link">
				<img src="img/album-hc.jpg">
				<h2><%= vehicle.get('license_plate') %></h2>
				<p><%= vehicle.get('brand') %></p>
			</a>
			<a class="edit-link" data-router="vehicle_edit" data-id="<%= vehicle.get('id') %>"/>
		</li>
	<% }); %>
</ul>